#N
clk
reset_n

#S 
req_idle
req_sleep
req_off
wake_up

#E
pwr_stable
clk_stable
retention_ready

#W
clk_gate_en
pwr_gate_en
retention_en
retention_save
retention_restore
reset_ctrl
dvfs_ctrl.*
pwr_state.*
seq_busy
error